{% extends 'user.base' %}

{% block title %}帐号绑定{% endblock %}

{% block content %}

<div class="row">
    <div class="col-lg-4">
      {% include('mcstaralliance::connect_mcbbs') %}
    </div>
    <div class="col-lg-4">
      {% include('mcstaralliance::connect_qq') %}
    </div>
</div>

{% endblock %}
