{% extends 'user.base' %}

{% block title %}实名认证{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-md-6">
      {% if errors.any() %}
        <div class="alert alert-warning">{{ errors.first() }}</div>
      {% endif %}
      {{ form.render() | raw }}
    </div>
  </div>
{% endblock %}
