<div class="card card-success card-outline">
    <div class="card-header">
        <h3 class="card-title">玩家列表</h3>
    </div>
    <div class="card-body">
        <div class="row" id="player-list">
            <div class="col-12 col-sm-12 col-md-4">
                <div class="info-box">
                    <span class="info-box-icon bg-info elevation-1">
                        <img src="avatar/user" alt="载入中..." width="45" height="45">
                    </span>
                    <div class="info-box-content">
                        <span class="info-box-text">载入中...</span>
                        <span class="info-box-number">
                            ❤
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
